* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* NAVBAR */
/*---------------------------------------------------*/

.navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 210px;
	z-index: 9999;
}

.first-level {
	position: fixed;
	min-height: 100vh;
	z-index: 103;
	left: 0;
	background-color: white;
    border-right: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 16px -6px #000000;
}

/*

 header NAVBAR

*/

.div4logo {
	width: 100%;
}

.div4logo-href {
	text-decoration: none;
	color: black;
}


.breakfastLogo {
	width: 210px;
	margin: 12px auto;
	padding: 0 12px;
}


/*

 sub-menu NAVBAR

*/

.second-level {
	position: fixed;
	z-index:101;
    top: 0px;
    left: -320px;
    width: 320px;
    padding: 40px;
    min-height: 100%;
    background: black;
    -webkit-transition: all 0.7s ease;
    font-size: 17px;
    letter-spacing: 1px;
	line-height: 26px;
}


.second-levelX {
	position: fixed;
	z-index:101;
    top: 0px;
    left: -320px;
    width: 320px;
    padding: 40px;
    min-height: 100%;
    background: black;
    -webkit-transition: all 0.7s ease;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}


.left-right {

	left: 210px;
	-webkit-transition: all 0.5s ease;
}


.sub-menu-items {
	color: white;
	text-decoration: none;
	list-style-type: none;
}


/*

 middle section NAVBAR

*/

.navbar-middle-section {
	/*z-index: 102;*/
}

.middle-section {
	list-style-type: none;
	position: absolute;
	top: 40%;
	width: 100%;
	border-top: 1px solid #d9d9d9;
}

.middle-section-item {
	font-size: 20px;
	letter-spacing: 1px;
	height: 60px;
	border-bottom: 1px solid #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.middle-section-item-href {
	text-decoration: none;
	color: black;
}

/*

 footer NAVBAR

*/

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-bottom: 25px;
}

.navbar-footer {
	/*z-index: 102;*/
}

.socials {
	display: inline-block;
}

.contacts {
    margin: 10px auto 5px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.fa {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  padding: 7px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #8e8b8b;
  color: white;
}

.fa-instagram {
  background: #8e8b8b;
  color: white;
}

.reserve {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reserve_item {
	list-style-type: none;
	display: flex;
	align-items: center;
}


.reserve_href {
	text-decoration: none;
	color: #4f4e4e;
	display: flex;
	align-items: center;
	height: 15px;
}

.icon-clock {
	width: 15px;
	margin-right: 8px;
}






/* BODY */
/*-----------------------------------------------------------*/

/*  АРКАДИЙ: THE BEGINING; */



main {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
  	position: relative;
  	margin-left: 210px;
}

/*

 main walls BODY

*/

.wall_img {
	width: 100%;
	overflow: hidden;
}

.wall {
	width: 100%;
	position: relative;
	overflow: hidden;
	transition: all 0.15s ease-out;
	background-image: url(img/main_wall.jpg);
	height: 625px;
	background-size: cover;
    background-repeat: no-repeat;
}

.wall_img:hover > .wall {
	transform: scale(0.95);
	opacity: 0.8;
}

/*.wall_img {
	position: relative;
	width: 100%;
	background-size: cover;
	height: 625px;
}*/



.heading_box {
	position: absolute;
	padding-bottom: 5%;
	padding-left: 6%;
	width: 75%;
	color: white;
	font-size: 2vw;
	font-family: helvetica;
	bottom: 0px;


}

/*Stefan's part*/
.articles {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

h1 {
	font-size: 41px;
}


.item {
	width: 50%;
	overflow: hidden;
	text-decoration: none;
	position: relative;
}

.item:hover > .itemImg1 {
	/*display: none;*/
	transform: scale(0.9);
	opacity: 0.8;
}

.item:hover > .itemImg2 {
	/*display: none;*/
	transform: scale(0.9);
	opacity: 0.8;
    /*box-shadow: inset 0 0 0 0 white;
    background-repeat: repeat;*/
}

.item:hover > .itemImg3 {
	/*display: none;*/
	transform: scale(0.9);
	opacity: 0.8;
    /*box-shadow: inset 0 0 0 0 white;
    background-repeat: repeat;*/
}


.item:hover > .itemImg4 {
	/*display: none;*/
	transform: scale(0.9);
	opacity: 0.8;
    /*box-shadow: inset 0 0 0 0 white;
    background-repeat: repeat;*/
}



.itemImg1 {
	width: 100%;
	padding: 1px;
	display: block;
	background-image: url(img/бенедикт.jpg);
	height: 380px;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 1px;
    overflow: hidden;
    transition: all 0.15s ease-out;
}
.itemImg2 {
	width: 100%;
	padding: 1px;
	display: block;
	background-image: url(img/сырники.jpg);
	height: 380px;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 1px;
    overflow: hidden;
    transition: all 0.15s ease-out;

}
.itemImg3 {
	width: 100%;
	padding: 1px;
	display: block;
	background-image: url(img/coffee.jpg);
	height: 380px;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 1px;
    overflow: hidden;
    transition: all 0.15s ease-out;    
}
.itemImg4 {
	width: 100%;
	padding: 1px;
	display: block;
	background-image: url(img/английский.jpg);
	height: 380px;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 1px;
    overflow: hidden;
    transition: all 0.15s ease-out;    
}

.info {
	position: absolute;
    color: white;
    width: 100%;
    text-transform: initial;
    padding: 70px 60px;
    bottom: 0;
}

/*the end of Stefan's part*/


/*  АРКАДИЙ: THE END; */
